.login__main{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F5F7;
  height: 100%;
}
.login__block{
  padding: 0 15px;
}
.login__img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 28px 28px;
  max-width: 360px;
  width: 100%;
  height: 316px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 #DAE0EB;
  border-radius: 4px;
  margin-top: 40px;
}
.login__item_title{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #21242A;
}
.login__form{
  max-width: 304px;
  width: 100%;
  height: 200px;
  margin-top: 36px;
}
.login__input{
  padding: 6px 8px;
  max-width: 304px;
  width: 100%;
  height: 28px;
  border: 1px solid #CCCED5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-feature-settings: 'kern' off, 'liga' off;
  color: #ADAFB5;
}
.login__checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 104px;
  height: 16px;
  margin-bottom: 20px;
}
.login__checkbox input {

}
.login__checkbox label{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: 'kern' off, 'liga' off;
  color: #21242A;
  margin-left: 5px;
}
.login__btn{
  max-width: 304px;
  width: 100%;
  height: 68px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.login__btn input{
  cursor: pointer;
  padding: 6px 10px;
  max-width: 304px;
  width: 100%;
  height: 28px;
  background: #286CFD;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
}
.login__btn div {
  display: flex;
  max-width: 304px;
  width: 100%;
  justify-content: space-between;
}
.login__btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 28px;
  text-decoration: none;
  color: #21242A;
}
