<header>
  <div class="header__title">Companies</div>
  <div class="user__item">
    <div class="user__bell">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6V9C12 9.76835 12.2889 10.4692 12.7639 11H3.23611C3.71115 10.4692 4 9.76835 4 9V6C4 3.79086 5.79086 2 8 2C10.2091 2 12 3.79086 12 6ZM13 6V9C13 10.1046 13.8954 11 15 11V12H14H2H1V11C2.10457 11 3 10.1046 3 9V6C3 3.23858 5.23858 1 8 1C10.7614 1 13 3.23858 13 6ZM8 15C6.89543 15 6 14.1046 6 13H5C5 14.6569 6.34315 16 8 16C9.65685 16 11 14.6569 11 13H10C10 14.1046 9.10457 15 8 15Z" fill="black" fill-opacity="0.8"/>
      </svg>
    </div>
    <div class="user__info">
      <img (click)="setOpen()" src="../../assets/avatar.png">
      <div *ngIf="openMenu" class="user__menu">
        <button class="user__menu_btn" (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
</header>
<div class="company__block">
  <div class="company__my">
    <div class="company__title">My companies</div>
    <div class="company__block_item">
      <div class="company__name_item">
        <div class="company__name_logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <rect width="40" height="40" rx="4" fill="#286CFD"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4588 15.3162C20.2848 14.9146 19.7153 14.9146 19.5412 15.3162L18.5528 17.5972L20 18.4242L21.4472 17.5972L20.4588 15.3162ZM21.8472 18.5203L21.0078 19L22.3998 19.7955L21.8472 18.5203ZM23.0632 21.3263L22.625 21.0759L21.0078 22L24.1276 23.7828L23.0632 21.3263ZM24.791 25.3136L25.5218 27H26.6116L21.3764 14.9186C20.8543 13.7138 19.1458 13.7138 18.6237 14.9186L13.3884 27H14.4783L15.209 25.3136L20 22.5759L24.791 25.3136ZM15.8724 23.7828L18.9922 22L17.375 21.0759L16.9369 21.3262L15.8724 23.7828ZM17.6002 19.7954L18.9922 19L18.1528 18.5204L17.6002 19.7954ZM20 19.5759L18.3828 20.5L20 21.4241L21.6172 20.5L20 19.5759Z" fill="white"/>
          </svg>
        </div>
        <div class="company__name_title">
          <div class="company__name">ООО “Тетаком”</div>
          <div class="company__dec">Нефтегазодобывающая компания</div>
        </div>
      </div>
      <div class="company__team">
        <div class="company__team_title">Team</div>
        <div class="company__team_users">
          <div class="company__team_user">
            <img src="../../assets/Avatar.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company__external">
    <div class="company__title">External companies</div>
    <div class="company__block_items">
      <div class="company__block_item">
        <div class="company__name_item">
          <div class="company__name_logo">
            <img src="assets/ros.png">
          </div>
          <div class="company__name_title">
            <div class="company__name">Роснефть</div>
            <div class="company__dec">Нефтегазодобывающая компания</div>
          </div>
        </div>
        <div class="company__team">
          <div class="company__team_title">Team</div>
          <div class="company__team_users">
            <div class="company__team_user">
              <img src="../../assets/Avatar.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="company__block_item">
        <div class="company__name_item">
          <div class="company__name_logo">
            <img src="assets/tat.png">
          </div>
          <div class="company__name_title">
            <div class="company__name">Татнефть</div>
            <div class="company__dec">Нефтегазодобывающая компания</div>
          </div>
        </div>
        <div class="company__team">
          <div class="company__team_title">Team</div>
          <div class="company__team_users">
            <div class="company__team_user">
              <img src="../../assets/Avatar.svg">
            </div>
            <div class="company__team_user">
              <img src="../../assets/Avatar-1.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
